@import "../../../styles/utils/index";

@include p(tab-bar-categories) {
  @include pb(category-list) {
    @include padding(px2rpx(28px), null, px2rpx(28px - 10px), px2rpx(20px));
    @include clearfix;

    @include e(item) {
      @include margin(null, px2rpx(10px), px2rpx(10px));
      @include text--middle(px2rpx(60px));
      @include text--overflow;

      display: inline-block;
      width: px2rpx(170px);
      border-radius: px2rpx(4px);
      color: map-get($colors, c7);
      background-color: map-get($colors, c1);
      text-align: center;

      &.is-active {
        color: map-get($colors, c3);
        background-color: map-get($colors, c2);
      }
    }
  }
}
