@import "../utils/index";
@import "./components/buttons";
@import "./components/panel";
@import "./components/tabs";
@import "./components/icon";
@import "./components/list";
@import "./components/list1";
@import "./components/list2";
@import "./components/tag";
@import "./objects/grid";
@import "./objects/media";
@import "./objects/box";
@import "./utils/base";

page {
  box-sizing: border-box;
  font-family: $font-family-mobile;
  background-color: map-get($colors, c6);
}
