// 字体
$font-sizes: (
  f22: px2rpx(22px),
  f24: px2rpx(24px),
  f26: px2rpx(26px),
  f27: px2rpx(27px),
  f28: px2rpx(28px),
  f30: px2rpx(30px),
  f32: px2rpx(32px),
  f34: px2rpx(34px),
  f36: px2rpx(36px),
  f38: px2rpx(38px),
  f40: px2rpx(40px),
  f44: px2rpx(44px),
  f50: px2rpx(50px)
);

// 颜色
$colors: (
  c1: #FFFFFF,
  c2: #FED02F,
  c3: #333333,
  c4: #E5E5E5,
  c5: #999999,
  c6: #f6f6f6,
  c7: #666666,
  c8: #000000,
  c9: #033333
);

// 图片 CDN
$cdn: "http://acs-cdn.liruan.cn/";

// 静态资源版本号
$version: 0.1;
